{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Rejestracja</h1>
    <hr>
    </br>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-lg btn-primary" type="submit">
            Zarejestruj się
        </button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
